{% extends "base.html" %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
    <h1>{{ post.title }}</h1>
    <p class="date">
        Published {{ post.publish }} by {{ post.author }}
    </p>
    {% if post.image %}
        <div class="image">
            <img src="{{ post.image.url }}" alt="{{ post.title }}">
        </div>
    {% else %}
        <p>No image available</p>
    {% endif %}
    <div class="post-detail">
        {{ post.content|linebreaks }}
    </div>
{% endblock %}